#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        if a<b:
            result=a
        else:
            result=b
    else:
        if a>b:
            result=a
        else:
            result=b
    return result

In [2]:
lesser_of_two_evens(9,9)

9

In [3]:
lesser_of_two_evens(9,10)

10

In [4]:
lesser_of_two_evens(10,9)

10

In [5]:
lesser_of_two_evens(2,6)

2

In [6]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        result=min(a,b)
    else:
        result=max(a,b)
    return result

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [7]:
def animal_crackers(text):
    wordlist=text.split()
    if wordlist[0][0]==wordlist[1][0]:
        return True
    else:
        return False

In [8]:
animal_crackers('Levelheaded Llama')

True

In [9]:
animal_crackers('Crazy Kangaroo')

False

In [10]:
def animal_crackers(text):
    wordlist=text.split()
    return wordlist[0][0]==wordlist[1][0]

In [11]:
animal_crackers('Levelheaded Llama')

True

In [12]:
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [13]:
def makes_twenty(a,b):
    if a+b ==20 or a==20 or b == 20:
        return True
    else:
        return False

In [14]:
makes_twenty(20,10)

True

In [15]:
makes_twenty(12,8)

True

In [16]:
makes_twenty(2,3)

False

In [17]:
def makes_twenty(a,b):
    return (a+b)==20 or a==20 or b == 20

In [18]:
makes_twenty(20,10)

True

In [19]:
makes_twenty(12,8)

True

In [20]:
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [21]:
def old_macdonald(text):
    first_letter = text[0]
    inbetween= text[1:3]
    fourth_letter = text[3]
    rest = text[4:]
    
    return first_letter.upper()+inbetween+fourth_letter.upper()+rest

In [22]:
old_macdonald('macdonald')

'MacDonald'

In [23]:
def old_macdonald(text):
    first_half=text[:3]
    second_half=text[3:]
    
    return first_half.capitalize()+second_half.capitalize()

In [24]:
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'

In [25]:
def master_yoda(text):
    wordlist=text.split()
    return ' '.join(wordlist[::-1])

In [26]:
master_yoda('I am home')

'home am I'

In [27]:
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [28]:
def almost_there(number):
    return (abs(100-number) <= 10) or (abs(200-number) <=10 )

In [29]:
almost_there(209)

True

In [30]:
almost_there(150)

False

In [31]:
almost_there(104)

True

In [32]:
almost_there(90)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [33]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i] ==3 and nums[i+1]==3:
            return True
    return False

In [34]:
has_33([1, 3, 3])

True

In [35]:
has_33([1, 3, 1, 3])

False

In [36]:
has_33([3, 1, 3])

False

In [37]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i:i+2] == [3,3]:
            return True
    return False

In [38]:
has_33([1, 3, 3])

True

In [39]:
has_33([1, 3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [40]:
def paper_doll(word):
    result=''
    for char in word:
        result+=char*3
    return result

In [41]:
paper_doll('Hello')

'HHHeeellllllooo'

In [42]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [43]:
def blackjack(a,b,c):
    if a+b+c <= 21:
        return a+b+c
    elif a+b+c > 21 and a == 11 or b== 11 or c == 11:
            return a+b+c-10
    return 'BUST'

In [44]:
blackjack(5,6,7)

18

In [45]:
blackjack(9,9,9)

'BUST'

In [46]:
blackjack(9,9,11)

19

In [47]:
def blackjack(a,b,c):
    
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c])-10 <= 21:
            return sum([a,b,c])-10
    else:
        return ' BUST'

In [48]:
blackjack(5,6,7)

18

In [49]:
blackjack(9,9,9)

' BUST'

In [50]:
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [51]:
def summer_69(arr):
    total = 0
    add=True
    
    for num in arr:
        while add:
            if num!=6:
                total +=num 
                break
            else:
                add=False
        while not add:
            if num!=9:
                break
            else:
                add=True
                break
    return total

In [52]:
summer_69([1, 3, 5])

9

In [53]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [54]:
summer_69([2, 1, 6, 9, 11])

14

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [55]:
def spy_game(arr):
    code=[0,0,7,'x']
    for i in arr:
        if i == code[0]:
            code.pop(0)
    return len(code) == 1

In [56]:
spy_game([1,2,4,0,0,7,5])

True

In [57]:
spy_game([1,0,2,4,0,5,7])

True

In [58]:
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [59]:
def count_primes(num):
    
    if num < 2 :
        return 0
    
    primes=[2]
    x = 3
    
    while x <=num :
        for y in range(3,x,2):
            if x % y == 0:
                x+=2
                break
        else:
            primes.append(x)
            x+=2
    print(primes)
    return len(primes)

In [60]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

Just for fun, not a real problem :)
PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
print_big('a')

out:   *  
      * *
     *****
     *   *
     *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns.
For purposes of this exercise, it's ok if your dictionary stops at "E".

-----
### Just for fun, not a real problem :)

#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [61]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [62]:
print_big('e')

*****
*
*****
*
*****