**Write a function that computes the volume of a sphere given its radius.**

In [1]:
def vol(rad):
    return (4/3)*(3.14)*(rad**3)

In [2]:
vol(2)

33.49333333333333


**Write a function that checks whether a number is in a given range (inclusive of high and low)**

In [3]:
def ran_check(num,low,high):
    return num in range(low,high+1)

In [4]:
ran_check(5,2,7)

True

In [5]:
def ran_check(num,low,high):
    #Check if num is between low and high (including low and high)
    if num in range(low,high+1):
        print('{} is in the range between {} and {}'.format(num,low,high))
    else:
        print('The number is outside the range.')

In [6]:
ran_check(5,2,7)

5 is in the range between 2 and 7

**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

If you feel ambitious, explore the Collections module to solve this problem!

In [7]:
def up_low(s):
    lowercase = 0
    uppercase = 0
    
    for char in s:
        if char.isupper():
            uppercase+= 1
        elif char.islower():
            lowercase+=1
        else:
            pass
    print(f'Original string {s}')
    print(f'Lowercase count: {lowercase}')
    print(f'Uppercase count: {uppercase}')

In [8]:
s='Hello Aasdsadad ASDSAD asdasd AS DAS DSAD'
up_low(s)

Original string Hello Aasdsadad ASDSAD asdasd AS DAS DSAD
Lowercase count: 18
Uppercase count: 17

In [9]:
def up_low(s):
    d={"upper":0, "lower":0}
    for c in s:
        if c.isupper():
            d["upper"]+=1
        elif c.islower():
            d["lower"]+=1
        else:
            pass
    print("Original String : ", s)
    print("No. of Upper case characters : ", d["upper"])
    print("No. of Lower case Characters : ", d["lower"])

In [10]:
s='Hello Aasdsadad ASDSAD asdasd AS DAS DSAD'
up_low(s)

Original String :  Hello Aasdsadad ASDSAD asdasd AS DAS DSAD
No. of Upper case characters :  17
No. of Lower case Characters :  18

**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [11]:
def unique_list(lst):
    return list(set(lst))

In [12]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [13]:
def unique_list(lst):
    seen_numbers =[]
    for number in lst:
        if number not in seen_numbers:
            seen_numbers.append(number)
    return seen_numbers

In [14]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [15]:
def multiply(numbers):
    total=1
    for number in numbers:
        total = total * number
    return total

In [16]:
multiply([1,2,3,-4])

-24

**Write a Python function that checks whether a word or phrase is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam,kayak,racecar, or a phrase "nurses run". Hint: You may want to check out the .replace() method in a string to help out with dealing with spaces. Also google search how to reverse a string in Python, there are some clever ways to do it with slicing notation.

In [17]:
def palindrome(s):
    s = s.replace(' ','')
    return s == s[::-1]

In [18]:
palindrome('nurses run')

True

In [19]:
palindrome('aaaddd')

False

**Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)**

    Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    For example : "The quick brown fox jumps over the lazy dog"

Hint: You may want to use .replace() method to get rid of spaces.

Hint: Look at the [string module](https://stackoverflow.com/questions/16060899/alphabet-range-in-python)

Hint: In case you want to use [set comparisons](https://medium.com/better-programming/a-visual-guide-to-set-comparisons-in-python-6ab7edb9ec41)

In [20]:
import string

def ispangram(str1):
    alphabet=set(string.ascii_lowercase)
    str1=str1.replace(' ','')
    str1 = str1.lower()
    str1=set(str1)
    
    print(alphabet)
    print(str1)
    return str1 == alphabet

In [21]:
ispangram("The quick brown fox jumps over the lazy dog")

{'g', 'r', 'a', 'd', 's', 'm', 'u', 'y', 'z', 'h', 'c', 'p', 'k', 'x', 'v', 'w', 'q', 'n', 'b', 'j', 'e', 'f', 'i', 't', 'o', 'l'}
{'g', 'r', 'a', 's', 'y', 'm', 'u', 'd', 'z', 'h', 'c', 'p', 'k', 'x', 'v', 'w', 'q', 'n', 'b', 'j', 'e', 'f', 'i', 't', 'o', 'l'}

True